# IDE Settings
.idea/
*.iml
.gradle/
/local.properties
.DS_Store

# Android Specific
build/
/captures/
.externalNativeBuild/
.cxx/

# Firebase
google-services.json

# Secrets and Keys
*.jks
*.keystore
secrets.properties

# Build outputs
*.apk
*.aar
*.bundle

# Kotlin
.kotlin/
